body {
  background-color: #000;
  color: #00ffff;
  text-align: center;
  font-family: Arial, sans-serif;
}

.container {
  margin-top: 100px;
}

#logo {
  width: 250px;
  cursor: pointer;
  transition: transform 0.2s;
}

#logo:active {
  transform: scale(1.1);
}

button {
  margin-top: 20px;
  background-color: #ff00ff;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.hidden {
  display: none;
}
